////////////////////////////
// general
////////////////////////////
// scales 
@import '../type/_scale-px';

// behaviors 
$durationFast: .25s;
$durationMed: .35s;
$durationSlow: .45;

// layout 
$radius: 4px;


