////////////////////////////
// global color
////////////////////////////
$default-black: #262626;
$default-blackLighter: mix(white, $default-black, 40%);
$default-blackSuperlight: mix(white, $default-black, 70%);
$default-blackLightest: mix(white, $default-black, 90%);
$default-blackDarker: mix(black, $default-black, 20%);

$default-gray: #808080;
$default-grayLighter: mix(white, $default-gray, 40%);
$default-graySuperlight: mix(white, $default-gray, 70%);
$default-grayLightest: mix(white, $default-gray, 90%);
$default-grayDarker: mix(black, $default-gray, 20%);

$default-red: #cd5c5c;
$default-redLighter: mix(white, $default-red, 40%);
$default-redSuperlight: mix(white, $default-red, 70%);
$default-redLightest: mix(white, $default-red, 90%);
$default-redDarker: mix(black, $default-red, 20%);

$primary: $default-black;
$primaryLighter:  mix(white, $default-black, 40%);
$primarySuperlight: mix(white, $default-black, 70%);
$primaryLightest: mix(white, $default-black, 90%);
$primaryDarker: mix(black, $default-black, 20%);

$secondary: $default-gray;
$secondaryLighter: mix(white, $default-gray, 40%);
$primarySuperlight: mix(white, $default-gray, 70%);
$secondaryLightest: mix(white, $default-gray, 90%);
$secondaryDarker: mix(white, $default-gray, 20%);

$tertiary: $default-red;
$tertiaryLighter: mix(white, $tertiary, 40%);
$tertiarySuperlight: mix(white, $tertiary, 70%);
$tertiaryLightest: mix(white, $tertiary, 90%);
$tertiaryDarker: mix(black, $tertiary, 20%);