////////////////////////////
// global type
////////////////////////////
$heat: sans-serif;
$body: serif;
$accent: serif;
$utility: sans-serif;

@mixin headStyles {
  font-family: $h-font;
}

@mixin bodyStyles {
  @include bodyScale;
  font-family: $b-font;
}

@mixin uiStyles {
  font-family: $h-font;
  font-weight: 100;
}

@mixin accentStyles {
  font-family: $accent-font;
  font-style: italic;
  //color: $accent;
}

@mixin titleStyles {
  font-weight: 700;
  letter-spacing: -2px;
}

@mixin head($heading) {
  @include headStyles;
  @if ($heading == 'h1-s1') {
    @include h1-s1;
  } @else if ($heading == 'h2-s1') {
    @include h2-s1;
  } @else if ($heading == 'h3-s1') {
    @include h3-s1;
  } @else if ($heading == 'h4-s1') {
    @include h4-s1;
  } @else if ($heading == 'h1-s2') {
    @include h1-s2;
  } @else if ($heading == 'h2-s2') {
    @include h2-s2;
  } @else if ($heading == 'h3-s2') {
    @include h3-s2;
  } @else if ($heading == 'h4-s2') {
    @include h4-s2;
  } @else if ($heading == 'h1-s3') {
    @include h1-s3;
  } @else if ($heading == 'h2-s3') {
    @include h2-s3;
  } @else if ($heading == 'h3-s3') {
    @include h3-s3;
  } @else if ($heading == 'h4-s3') {
    @include h4-s3;
  } @else if ($heading == 'h1-s4') {
    @include h1-s4;
  } @else if ($heading == 'h2-s4') {
    @include h2-s4;
  } @else if ($heading == 'h3-s4') {
    @include h3-s4;
  } @else if ($heading == 'h4-s4') {
    @include h4-s4;
  } @else if ($heading == 'h1-s5') {
    @include h1-s5;
  } @else if ($heading == 'h2-s5') {
    @include h2-s5;
  } @else if ($heading == 'h3-s5') {
    @include h3-s5;
  } @else if ($heading == 'h4-s5') {
    @include h4-s5;  
  } @else if ($heading == 'h1-s6') {
    @include h1-s6;
  } @else if ($heading == 'h2-s6') {
    @include h2-s6;
  } @else if ($heading == 'h3-s6') {
    @include h3-s6;
  } @else if ($heading == 'h4-s6') {
    @include h4-s6;
  } @else if ($heading == 'h1-s7') {
    @include h1-s7;
  } @else if ($heading == 'h2-s7') {
    @include h2-s7;
  } @else if ($heading == 'h3-s7') {
    @include h3-s7;
  } @else if ($heading == 'h4-s7') {
    @include h4-s7;
  } @else if ($heading == 'h1-s8') {
    @include h1-s8;
  } @else if ($heading == 'h2-s8') {
    @include h2-s8;
  } @else if ($heading == 'h3-s8') {
    @include h3-s8;
  } @else if ($heading == 'h4-s8') {
    @include h4-s8;
  } 
}

@mixin title($heading) {
  @include titleStyles;
  @if ($heading == 'h1-s1') {
    @include h1-s1;
  } @else if ($heading == 'h2-s1') {
    @include h2-s1;
  } @else if ($heading == 'h3-s1') {
    @include h3-s1;
  } @else if ($heading == 'h4-s1') {
    @include h4-s1;
  } @else if ($heading == 'h1-s2') {
    @include h1-s2;
  } @else if ($heading == 'h2-s2') {
    @include h2-s2;
  } @else if ($heading == 'h3-s2') {
    @include h3-s2;
  } @else if ($heading == 'h4-s2') {
    @include h4-s2;
  } @else if ($heading == 'h1-s3') {
    @include h1-s3;
  } @else if ($heading == 'h2-s3') {
    @include h2-s3;
  } @else if ($heading == 'h3-s3') {
    @include h3-s3;
  } @else if ($heading == 'h4-s3') {
    @include h4-s3;
  } @else if ($heading == 'h1-s4') {
    @include h1-s4;
  } @else if ($heading == 'h2-s4') {
    @include h2-s4;
  } @else if ($heading == 'h3-s4') {
    @include h3-s4;
  } @else if ($heading == 'h4-s4') {
    @include h4-s4;
  } @else if ($heading == 'h1-s5') {
    @include h1-s5;
  } @else if ($heading == 'h2-s5') {
    @include h2-s5;
  } @else if ($heading == 'h3-s5') {
    @include h3-s5;
  } @else if ($heading == 'h4-s5') {
    @include h4-s5;  
  } @else if ($heading == 'h1-s6') {
    @include h1-s6;
  } @else if ($heading == 'h2-s6') {
    @include h2-s6;
  } @else if ($heading == 'h3-s6') {
    @include h3-s6;
  } @else if ($heading == 'h4-s6') {
    @include h4-s6;
  } @else if ($heading == 'h1-s7') {
    @include h1-s7;
  } @else if ($heading == 'h2-s7') {
    @include h2-s7;
  } @else if ($heading == 'h3-s7') {
    @include h3-s7;
  } @else if ($heading == 'h4-s7') {
    @include h4-s7;
  } @else if ($heading == 'h1-s8') {
    @include h1-s8;
  } @else if ($heading == 'h2-s8') {
    @include h2-s8;
  } @else if ($heading == 'h3-s8') {
    @include h3-s8;
  } @else if ($heading == 'h4-s8') {
    @include h4-s8;
  } 
}
