////////////////////////////
// global layout
////////////////////////////
// clearfix
@mixin cf {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

// center block
@mixin centerAuto($top-bottom) {
	margin: $top-bottom auto;
}

@mixin center($max-width, $width: 100%) {
  width: $width;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin fluidWidth($value, $denominator) {
 width: ($value / $denominator)* 100%;
 max-width: $value * 1px;
}

// cover 
@mixin cover {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

// grid 
@mixin blockGrid($col, $margin) {
  width: ((100% - (($col - 1) * $margin))/$col);
  &:nth-child(n) {
    margin-right: $margin;
    margin-bottom: $margin;
  }
  &:nth-child(#{$col}n) {
    margin-right: 0;
    margin-bottom: 0;
    }
}
//maintain aspect ratio
//@mixin aspectRatio($width, $height, $class) {
//  position: relative;
//  width: 100%;
//  padding-top: ($height / $width) * 100%;
//  }
//  > #{$class} {
//    display: block;
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//  }
//}

@mixin aspectRatio($width, $height) {
  display: block;
  position: relative;
  width: 100%;
  padding-top: ($height / $width) * 100%;
  > div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// center child
//@mixin c-quarter {
//	position: relative;
//  display: block;
//	top: 25%;
//	left: 50%;
//	transform: translate(-50%, -25%);
//}

@mixin c-quarter {
	position: relative;
  display: block;
	top: 25%;
	transform: translateY(-25%);
}

//@mixin c-half {
//	position: relative;
//  display: block;
//	top: 50%;
//	left: 50%;
//	transform: translate(-50%, -50%);
//}

@mixin c-half {
	position: relative;
    display: block;
	top: 50%;
	transform: translateY(-50%);
}

@mixin c-third {
	position: relative;
    display: block;
	top: 33%;
	transform: translateY(-33%);
}

//@mixin c-3quarter {
//	position: relative;
//  display: block;
//	top: 75%;
//	left: 50%;
//	transform: translate(-50%, -75%);
//}

@mixin c-3quarter {
	position: relative;
  display: block;
	top: 75%;
	transform: translateY(-75%);
}

// center child x or y
// @include centerer(true, false)
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

@mixin threequarter($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
  } @else if ($horizontal) {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 75%;
    left: 0;
    transform: translate(0, -75%);
  }
}

//hide without display none
@mixin visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// sticky footer 

$footerHeight: 50px;

@mixin stickyFooter-outer {
    min-height: 100%;
}

@mixin stickyFooter-inner {
    padding-bottom: $footerHeight;
}

@mixin stickyFooter-footer {
    height: $footerHeight;
    margin-top: -$footerHeight;
}





