////////////////////////////
// font families
////////////////////////////
// sans serif
$arial: Arial, Helvetica, sans-serif;
$calibri: Calibri, Candara, "Segoe UI", optima, Arial, sans-serif;
//$droid-sans: 'Droid sans', sans-serif;
$helvetica: 'Helvetica LT std', 'Helvetica', arial, sans-serif;
//$fira: "Fira sans";
//$fjalla: 'Fjalla One', sans-serif;
//$lato: Lato, sans-serif;
$lucida:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
//$merriweather-sans: 'Merriweather Sans', sans-serif;
//$montserrat: Montserrat, sans-serif;
//$open-sans: 'Open Sans', sans-serif;
//$oran: Oranienbaum, sans-serif;
//$oswald: Oswald, sans-serif;
//$pt-sans: 'PT Sans', sans-serif;
//$raleway: Raleway, sans-serif;
//$roboto: Roboto, sans-serif;
$segoe: "Segoe UI", optima, Arial, sans-serif;
$tahoma: Tahoma, Geneva, sans-serif; 
$trebuchet: "Trebuchet MS", Arial, Helvetica, sans-serif;
$verdana: Verdana, Geneva, sans-serif;
//serif
$cambria: Cambria, Times, "Times New Roman", serif;
//$cardo: Cardo, serif;
//$droid-serif: 'Droid serif', serif;
$georgia: Georgia, "Times New Roman", Times, serif;
//$lora: Lora, serif;
//$neuton: Neuton, serif;
//$prata: Prata, serif;
//$pt-serif: 'PT serif', serif;
$times: "Times New Roman", Times, serif;
$palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;
//monospace
$courier: "Courier New", Courier, monospace;
